papers
datasets
convert_images_png.ipynb
autoencoder.ipynb
notebooks/create_data_csv.py
create_masks.ipynb
enhance_images.ipynb
saved_models
enhance_images_clahe.ipynb

__pycache__/
*.pyc
*.pyo
.env/
.venv/
ipynb_checkpoints/
